---
import { getAllPosts } from '../lib/client';
import Layout from '../layouts/Layout.astro';

const data = await getAllPosts();
const allPosts = data.publication.posts.edges;
---

<Layout>
	<Fragment slot="head">
		<title>Max Miracolo | Front-End Software Engineer</title>
	</Fragment>
	<Fragment slot="body">
		<section class="intro">
			<p class="intro-text">I'm Max, a front-end software engineer. I'm currently working on <a class="intro-link" href="https://starcrossed.today" rel="external me">starcrossed</a> and <a class="intro-link" rel="external me" href="https://costars.xyz">costars</a>.</p>
			<p class="intro-text">You can find me on <a class="intro-link" href="https://linkedin.com/in/maxmiracolo" rel="external">linkedin</a>, <a class="intro-link" href="https://codepen.io/mcolo" rel="external">codepen</a>, <a class="intro-link" href="https://github.com/mcolo" rel="external">github</a>, and contact me at maxmiracolo@pm.me.</p>
		</section>
		<h3 class="posts-heading">Recent Writings</h3>
		{allPosts.map((post) => (
			<article class="post">
				<h4 class="post-title">{post.node.title}</h4>
				<p class="post-brief">{post.node.brief}</p>
				<div class="post-details">
					<span class="read-time">{post.node.readTimeInMinutes} min read</span>
					<a class="post-link" rel="external me" href={`https://mcolo.hashnode.dev/${post.node.slug}`}>Read More &#8594;</a>
				</div>
			</article>
		))}
	</Fragment>
</Layout>

<style>
	.intro {
		margin-bottom: 6rem;
	}

	.intro-text {
		font-weight: bold;
		font-size: 1.75rem;
		line-height: 1.3;
		margin-bottom: 3rem;
	}

	.intro-link {
		cursor: pointer;
		text-decoration: underline;
		color: var(--link);
		text-decoration-thickness: 3px;
		text-underline-offset: 3px;
	}

	.copy {
		font-size: 1rem;
		text-transform: uppercase;
		border: 3px solid var(--link);
		line-height: 1.75rem;
		display: inline-block;
		padding: 0 .25rem;
		background-color: var(--link);
	}

	.posts-heading {
		text-transform: uppercase;
		font-size: .875rem;
		letter-spacing: .1rem;
		color: var(--slate400);
		margin-bottom: .5rem;
	}

	.post {
		background-color: var(--slate900);
		border-radius: .75rem;
		padding: 1rem;
		margin: 0 0 1.5rem;
	}

	.post-title {
		font-size: 1.25rem;
		font-weight: bold;
		text-wrap: auto;
		margin-bottom: 1rem;
		line-height: 1.3;
	}

	.post-brief {
		margin-bottom: 1rem;
	}

	.post-details {
		display: flex;
		justify-content: space-between;
	}

	.read-time {
		color: var(--slate400);
		text-transform: uppercase;
		font-size: .875rem;
	}

	.post-link {
		display: block;
		text-transform: uppercase;
		text-decoration-thickness: 2px;
		text-underline-offset: 2px;
		font-size: .875rem;
		font-weight: bold;
		color: var(--link);
	}

	@media (min-width: 42rem) {
		.intro-text {
			font-size: 1.75rem;
		}
		.post-brief {
			font-size: .875rem;
		}
	}

	@media (max-width: 42rem) {
		.intro-text {
			font-size: 1.5rem;
		}
		.post-brief {
			font-size: 1rem;
		}
	}

	@media (hover: hover) {
		.post-link:hover {
			color: var(--linkhover);
			text-underline-offset: 4px;
		}

		.intro-link:hover {
			text-underline-offset: 6px;
			color: var(--linkhover);
		}
	}
</style>

